opencv-python
pytesseract
fastapi
uvicorn
easyocr
opencv-python-headless
numpy
matplotlib
jupyter
pydantic
redis
psycopg2
python-dotenv
requests
ultralytics
onnxruntime-gpu
onnx
pytz
aiohttp
aiohttp-cors
psycopg2-binary
python-multipart