#myVideo::-webkit-media-controls {
  display: none !important;
}

/* For Firefox and other browsers */
video::-moz-full-screen {
  display: none !important;
}
/* video:-webkit-full-screen {
  display: none !important;
} */
video:-ms-fullscreen {
  display: none !important;
}

.video-container {
  position: relative;
  margin: auto;
}

.video-container.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

video {
  width: 100%;
  height: 100%;
}

.custom-controls {
  width: 100%;
  margin: 0 auto;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  padding: 5px;
  border-radius: 5px;
}

.custom-controls button {
  background-color: #333;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  margin: 0 5px;
}

.custom-controls button:hover {
  background-color: #555;
}

.custom-controls input[type='range'] {
  flex: 1;
  margin: 0 10px;
  pointer-events: none;
}
