path {
  fill: #0f6da7;
  cursor: pointer;
  stroke: #14a6fb;
  stroke-width: 2;
}

path:hover {
  fill: #68c0f7;
  filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.8));
  z-index: 20;
}

#allMap {
  width: 500px;
  margin: 0 auto;
  display: block;
}

#sigun {
  width: 300px;
  margin: 0 auto;
  display: block;
}
